<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showPickedComment</title>
</head>

<body>
    <h1>Comment: <%= id %>
    </h1>

    <h2>
        <% console.log("the picked comment is: ", pickedComment) %>

        <%= pickedComment.comment %> - <%= pickedComment.username%>

        <br>
        <a href=" /comment">back to all the comments</a>

            <a href="/comment/ <%=pickedComment.id%>/edit"> Edit comment </a>


            <form method="POST" action="/comment/ <%=pickedComment.id%>?_method=DELETE">
                <button>delete</button>
            </form>





    </h2>

</body>

</html>